include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml

stages:
  - build
  - test

sast:
  variables:
    SAST_DEFAULT_ANALYZERS: brakeman, bandit, eslint, flawfinder, kubesec, nodejs-scan,
      gosec, phpcs-security-audit, pmd-apex, security-code-scan, sobelow, spotbugs
  stage: test

build:
  stage: build
  tags:
    - docker-executor
#  only: tags
  when: manual
  image: electronuserland/builder:wine
#  variables:
#    ELECTRON_CACHE: /root/.cache/electron
#    ELECTRON_BUILDER_CACHE: /root/.cache/electron-builder
  script:
#    - npm version $CI_COMMIT_TAG
    - npm install
    - pwd
    - cat "$PRIVATE_KEY" > "$(pwd)/privateKey.pfx"
    - chmod 666 privateKey.pfx
    - ls -la
    - npm run dist

