body {
    margin: 0;
    background-color: #242a35;
}

h1 {
    display: inline-block;
    width: calc(100% - 20px);
    text-align: center;
    margin: 0;
    padding: 10px;
    text-shadow: 0 8px 10px #222222;
    background-color: #4d72a2;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

.logo {
    height: 40px;
    margin-right: 10px;
    vertical-align: -5px;
}
h2 {
    margin-top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4c525f;
    color: white;
    text-align: center;
}
h3 {
    color: #4c525f;
    border-bottom: 2px solid #4c525f;
}

.box {
    width: calc(80% - 40px);
    background-color: aquamarine;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-bottom: 20px;
}

#dl_progress {
    width: 100%;
    height: 10px;
    background-color: white;
}
#dl_progress_bar {
    width: 0;
    height: 10px;
    background-color: #4c525f;
}

button {
    background-color: #4c525f;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: none;
    box-shadow: 2px 2px 6px #323232;
    cursor: pointer;
}
button:hover {
    background-color: #4d72a2;
}